@import '~bulma/sass/utilities/initial-variables';

// Colors
$black: #1b2023;
$black-bis: hsl(0, 0%, 14%);
$black-ter: #2c363a;
$grey-darker: #3e4b51;
$grey-dark: #586b74;
$grey-light: #738a94;
$grey-lighter: #92a3ab;
$white-ter: #e6eaeb;
$white-bis: #f3f5f6;

$blue: #26a8ed;

// Color theme
$primary: $blue;
$primary-invert: white;

// Color use
$body-color: $grey-darker;
$body-background-color: $white-bis;
$text: $grey-darker;

// Pagination
$pagination-disabled-color: $white-bis;

$spacing-values: (
  '0': 0,
  '1': 0.25rem,
  '2': 0.5rem,
  '3': 0.75rem,
  '4': 1rem,
  '5': 1.5rem,
  '6': 2.25rem,
  '7': 3rem,
  '8': 4rem,
  '9': 5.5rem,
);

@import '~bulma';

.overline {
  text-transform: uppercase;
  font-weight: bold;
  font-size: $size-small;
}

.is-full-height {
  height: 100%;
}

.is-interactive {
  transition: all 0.2s $easing;

  &:hover {
    transform: translateY(-1px);
  }
}
