@import '~bulma/sass/utilities/initial-variables';

// Config vars
$primary: #26a8ed;
$primary-invert: white;
$body-color: #586b74;
$black: #1b2023;
$body-background-color: $white-ter;

@import '~bulma';
